html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.footer {
  clear: both;
  height: 50px;
  margin-top: -50px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.9rem;
  background-color: #e4dede;
  text-align: center;
}

.copyright {
  position: absolute;
  right: 50px;
  float: right;
}

.aboutcontact {
  position: absolute;
  left: 50px;
  float: left;
}

.aboutcontact:hover {
  color: #6600ff;
}