.work-info {
  position: absolute;
  top: 90px;
  width: 400px;
  height: 500px;
  left: 720px;

  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  background-color: #ffffff11;
  border-color: transparent;
}

.work-field, .edit-admin-pwd {
  width: 40%;
}

.worker-admin-pwd {
  position: relative;
  top: 120px;
}

.admin-pwd {
  font-weight: 300;
  font-size: 14px;
  color: #b3b3b3;
  font-style: italic;
}

.date-time {
  font-style: normal;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255, 255, 255, 0.651);
  border-width: 1px;
  border-style: none;
  height: 38px;
}

.date-time:hover {
  border: 2px solid rgb(156, 199, 255);
}

.work-day {
  width: 180px;
  text-align: center;
  border-radius: 12px;
}

.select-date {
  position: absolute;
  left: 40px;
  top: 30px;
}

.check-time-btn {
  position: absolute;
  left: 240px;
  top: 30px;
}

.check-time {
  color: #fff !important;
  background: #89aeff;
  text-transform: uppercase;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.2s ease 0s;
  height: 36px;
  width: 120px;

  font-weight: 500;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3px;
}

.check-time:hover {
  background: #76a1ff;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
  transition: all 0.2s ease 0s;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

  position: absolute;
}

.working-hour-title {
  top: 350px;
  left: 40px;
}

.select-time {
  width: 150px;
  text-align: center;
  border-radius: 50px;
}

.select-start-time {
  position: absolute;
  top: 385px;
  left: 40px;
}

.select-end-time {
  position: absolute;
  top: 385px;
  left: 210px;
}

.change-hour-btn {
  position: absolute;
  left: 40px;
  top: 440px;
}

.change-time {
  width: 321px;
  background: #ff8989;
}

.change-time:hover {
  background: #ff7676;
}

.availability-title {
  top: 100px;
  left: 40px;
}

.avail-table {
  background-color: #ffffff33;
  border-radius: 15px 15px 15px 15px;

  table-layout: fixed;
  position: absolute;
  text-align: center;
  float: left;
  
  font-style: normal;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 11px;
}

.avail-table tr td:last-child {
  max-width: 5px;
}

.avail-title {
  position: sticky;
  top: 0;
}

.avail-header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.avail-from {
  background-color: rgb(209, 233, 255);
  border-radius: 15px 0px 0px 15px; 
}

.avail-to {
  background-color: rgb(209, 233, 255);
  border-radius: 0px 15px 15px 0px; 
}

.avail-table-scroll { 
  overflow-x: hidden; 
  overflow-y: auto;

  height: 180px;
  top: 140px;
  left: 40px;
  position: absolute;
  width: 320px; 
}

.edit-worker {
  position: absolute;
  top: 540px;
  left: -535px;
}

.worker-save {
  width: 140px;
}

.field-input:read-only {
  background-color: rgba(255, 255, 255, 0.2);
}

.field-input:read-only:hover {
  border: none;
}

.field-input {
  font-weight: 400;
  border-radius: 15px;
  border-style: none;
  text-indent: 8px;
}